<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<%= simple_form_for @team do |f| %>
  <%= f.input :helmet, label: "Upload the Team Helmet", input_html: { class: "form-control"} %>
  <%= f.input :city, label: "Enter Team City", input_html: { class: "form-control"} %>
  <%= f.input :name, label: "Enter Team Name", input_html: { class: "form-control"} %>
  <%= f.input :notes, label: "Enter Team Notes", input_html: { class: "form-control"} %>
  <div class="form-inputs">
    <%= f.input :order, label: 'Order this team picked in the 2017 draft', placeholder: 'Yes, remember me', collection: 1..32 %>
  </div>
  <%= f.collection_select :draftee_id, Draftee.all, :id, :info, { prompt: "Select a College Prospect for this 1st round pick" }, input_html: { class: "dropdown-toggle" }   %>
  <%#= f.collection_select :second_id, Second.all, :id, :info, { prompt: "Select a College Prospect for this 2nd round pick" }, input_html: { class: "dropdown-toggle" }   %>
  <%= f.button :submit %>
  <% end %>
</div>
