<h1>Team Profile</h1>
<p><%= image_tag @team.helmet.url %></p>
<h2>City: <%= @team.city %></h2>
<h3>Name: <%= @team.name %></h3>
<br/>
<%= link_to "Back", '/teams' %>
<%= link_to "Edit This Team", edit_team_path(@team) %>
<%= link_to "Delete", team_path(@team), method: :delete, data: { confirm: "Are you sure??" } %>
