<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :is_understood, label: "I have read the rules and have created an account at http://MillionaireBracketFantasyFootball.com. This must be checked in order to have a valid entry.", required: true %>
  </div>

  <p>
  <!-- reCaptcha -->
  <form action="?" method="POST" align="right">
    <div class="g-recaptcha" data-sitekey="6LcrgRoUAAAAAKyLUXE97T_TAGQ-H1qJ8yci0Fpy" align="left"></div>
    <br/>
    <!-- <input type="submit" value="Submit" > -->
    <%= f.button :submit, "Sign Up" %>
  </form>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
          async defer>
  </script>
  </p>

  <!-- <div class="form-actions">
    <%#= f.button :submit, "Sign up" %>
  </div> -->
<% end %>

<%= render "devise/shared/links" %>
