<h1>1st Round Draft Pick Profile</h1>
<h2><%= @draftee.info %></h2>
<p>Bio: <%= @draftee.bio %></p>
<br/>
<%= link_to "Back", '/draftees' %>
<%= link_to "Add New Prospect", new_draftee_path %>
<%= link_to "Delete Prospect", draftee_path(@draftee), method: :delete, data: { confirm: "Are you sure??" } %>
