<% if current_page?(root_path) %>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Millionaire Bracket Draft Challenge", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><%= link_to "Rules", root_path %></li>
            <li><%#= link_to "Terms", root_path %></li>
            <li><%#= link_to "Privacy", root_path %></li>
          </ul>


            <% if current_user.present? %>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Picks", picks_path %></li>
                  <li><%= link_to "Teams", teams_path %></li>
                  <li><%= link_to "Prospects", draftees_path %></li>
                  <li><%= link_to current_user.email, edit_user_registration_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
                  <li><%= link_to "Help", "#" %></li>
            <% else  %>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Sign In", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
              </ul>
            <% end %>

            <% if current_user.present? && current_user.email == "admin@example.com" %>
              <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "+ Teams", new_team_path  %></li>
               <li><%= link_to "+ Draftees", new_draftee_path %></li>
               <li><%= link_to "Edit Draftees", draftees_path %></li>
               <li><%= link_to "+ Actuals", new_actual_path  %></li>
               <li><%= link_to "Edit Actuals", actuals_path  %></li>
              </ul>
            <% end %>


        </div>

      </div>
    </nav>

<% else %>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Millionaire Bracket Draft Challenge", picks_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><%= link_to "Picks", picks_path %></li>
            <li><%#= link_to "Rules", picks_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
            <li><%= link_to "Prospects", draftees_path %></li>
          </ul>

            <% if current_user.present? && current_user.email == "admin@example.com" %>
              <ul>
               <li><%= link_to "Add Teams", new_team_path, class: "navbar-brand"  %></li>
               <li><%= link_to "Add Draftees", new_draftee_path, class: "navbar-brand"  %></li>
               <li><%= link_to "Edit Draftees", draftees_path, class: "navbar-brand"  %></li>
               <li><%= link_to "Add Actuals", new_actual_path, class: "navbar-brand"   %></li>
               <li><%= link_to "Edit Actuals", actuals_path, class: "navbar-brand"   %></li>
              </ul>
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <% if current_user.present? %>
                <li><%= link_to current_user.email, edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
                <li><%= link_to "Help", "#" %></li>
              <% else  %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
          </ul>
        </div>

      </div>
    </nav>

<% end %>
