<%= simple_form_for(@pick) do |f| %>
  <%= f.error_notification %>

  <div class="row isotope-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-sm-offset-0 col-md-10 col-md-offset-0 ">
<!-- TEAM INPUTS-->

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3>2017 Draft Order No.</h3>
            <div class="form-inputs">
              <%= f.input :order, label: false, collection: 1..32 %>
            </div>
        </div>
<!--
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3>Teams</h3>
            <div class="form-inputs">
              <%#= f.collection_select :team_id, Team.all, :id, :name, { prompt: "Select a Team for this pick" }, input_html: { class: "dropdown-toggle" }  %>
            </div>
        </div> -->

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3>DRAFTEE</h3>
            <div class="form-inputs">
              <%= f.collection_select :draftee_id, Draftee.all, :id, :info, { prompt: "Prospect's name, position, school" }, input_html: { class: "dropdown-toggle" }   %>
            </div>
        </div>

      </div>
</br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>
