<%= simple_form_for(@pick) do |f| %>
  <%= f.error_notification %>

   <!-- <div class="row"> -->
      <div class="row isotope-container">
        <div class="col-xs-12 col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-0 ">
          <div class="form-inputs">
            <%= f.input :order, hint: 'The Teams Draft Position', collection: 0..64 %>
          </div>
          <br/>
          <div class="form-inputs">
            <%= f.collection_select :team_id, Team.all, :id, :name, { prompt: "Select a Team for this pick" }, input_html: { class: "dropdown-toggle" }  %>
          </div>
          <br/>
          <div class="form-inputs">
            <%= f.collection_select :draftee_id, Draftee.all, :id, :info, { prompt: "Select a College Prospect for this pick" }, input_html: { class: "dropdown-toggle" }   %>
          </div>
          <div class="form-inputs">
            <%= f.input :number, hint: 'The Prospects Overall Pick Number', collection: 0..64 %>
          </div>
          <br/>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
<!--           <p>Add This Pick to Your Draft Board:</p>
            <div class="btn-group btn-group-md">
              <%#= link_to icon('plus'), picks_path(:pick_id => params[:id]), class: "btn btn-lg btn-primary", method: :post %>
            </div> -->
        </div>
      </div>
    <!-- </div> -->
    <br/>
<% end %>
