<!DOCTYPE html>
<html>
<head>
  <title>Pickem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonym ous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://use.fontawesome.com/e0a3b57e03.js"></script>
  <!-- reCaptcha Code -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

<% if current_page?(root_path) %>
    <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "LANDING PAGE", root_path, class: "navbar-brand" %>
        </div>
        <%= link_to "Rules", root_path, class: "navbar-brand" %>
        <%= link_to "Terms", root_path, class: "navbar-brand" %>
        <%= link_to "Privacy", root_path, class: "navbar-brand" %>
      </div>
    </nav>
<% else %>
  <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "MB Draft Challenge", "#", class: "navbar-brand" %>
        </div>
        <%= link_to "Picks", picks_path, class: "navbar-brand"  %>
        <%= link_to "Rules", picks_path, class: "navbar-brand" %>
        <%= link_to "Teams", teams_path, class: "navbar-brand" %>
        <%= link_to "Prospects", draftees_path, class: "navbar-brand"  %>
        <%= link_to "2017 Draft", actuals_path, class: "navbar-brand" %>

        <% if current_user.present? && current_user.email == "admin@example.com" %>
           <%= link_to "+ Teams", new_team_path, class: "navbar-brand"  %>
           <%= link_to "+ Draftees", new_draftee_path, class: "navbar-brand" %>
           <%= link_to "+/- Draftees", draftees_path, class: "navbar-brand" %>
           <%= link_to "+ Actuals", new_actual_path, class: "navbar-brand"  %>
           <%= link_to "+/- Actuals", actuals_path, class: "navbar-brand"  %>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
                <li><%= link_to current_user.email, edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
              <% else  %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
  </nav>
<% end %>

    <div class="container"> <!-- lower -->
         <script src="js/bootstrap.min.js"></script>
          <% if alert.present? %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= alert %>
                </div>
          <% end %>

          <% if notice.present? %>
                <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= notice %>
                </div>
          <% end %>
    </div> <!-- end lower container? -->


<div class="container">
  <%= yield %>
</div>



  </body>
</html>
